*{
    margin: 0;
    box-sizing: border-box;

}
body {
    color: black;
    background-color: #1F363D;
    font-family: "VT323";
    font-size: 1.5em;
}

footer{
   left: 0;
   bottom: 0;
   width: 100%;
}
footer ul {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: -1em;
}

footer li {
    display: inline-block;
    padding-bottom: .8em;
}


footer p {
    color: #777;
    font-size: 1em;
    text-align: center;
    margin-bottom: -1em;
}

#Home {
    background-image: url(./original.gif);
    background-size: 100%;
    padding-top: 15%;
    padding-bottom: 15%;

}


#Projects{
    padding: .5em;
}
#AboutMe a:hover{

    background-color: rgba(47, 45, 85, 0.2)
}

#who-desc{
    position: relative;
    left: 20%;
    width: 70%;
}

.jumbotron {
    background-size: 100%;
    height: 10em;
}

.nav-item:hover{
    background-color: rgba(88, 87, 110, 0.2);

}

.nav-tabs{
    color: yellow;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.5);
}

.dot {
    background-image: url(./ProfSmall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    margin: auto;
    border: black solid 2px;
    border-radius: 90%;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Text Box Start*/

#Me {
    position: absolute;
    bottom: 0%;
    left: 15%;
    height: 32%;
    width: 12.5%;
    z-index: 501;
}

#Image {
    text-align: center
}

#Image2 {
    text-align: center
}

.txtB p {
    color: white;
    position: relative;
    height: auto;
    left: 6%;
    text-align: left;
}

.txtB {
    position: absolute;
    bottom: 0%;
    left: 24%;
    height: 93px;
    width: 530px;
    border: black solid 2px;
    background-color: rgba(50, 42, 168, 0.7);
    z-index: 500;
}

.txtBN {
    position: absolute;
    bottom: 12.2%;
    left: 25%;
    height: 4%;
    width: 6%;
    border: black solid 2px;
    background-color: rgba(50, 42, 168, 0.7);
    z-index: 500;
}

.Name {
    color: white;
    position: absolute;
    top: -20%;
    text-align: center;
}


/* Type writer */

#typeWriter {
    overflow: hidden;
    margin: 0 auto;
    border-right: 1px solid transparent;
    margin: 0 auto;
    white-space: nowrap;
    animation: typing 3.0s steps(40, end), blink .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: transparent
    }
}
/*Text Box End*/